<div>
  <h2>Channel Management</h2>
  <div>
    <label for="group">Select Group:</label>
    <select id="group" [(ngModel)]="groupId">
      <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
    </select>
  </div>
  <div>
    <label for="channelName">Channel Name:</label>
    <input id="channelName" [(ngModel)]="channelName" />
    <button (click)="createChannel()">Create Channel</button>
  </div>
  <ul>
    <li *ngFor="let channel of channels">
      {{ channel.name }} <button (click)="deleteChannel(channel.id)">Delete</button>
    </li>
  </ul>
</div>